/* NAVBAR ACTIVE */
.active {
  font-weight: 600;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.dropdown-toggle::after {
  content: none;
}

.nav-item {
  font-size: 1.1rem;
}

.dropdown-item:focus, .dropdown-item.active {
  background-color: #198754;
  color: #fff !important;
}

.dropdown-item#logoutBtn:focus, .dropdown-item#logoutBtn:hover {
  background-color: #dc3545;
  color: white !important;
}

.dropdown-menu {
  left: auto!important;
  right: 0!important;
}

/* CUSTOM MARGIN */
.mt-6 {
  margin-top: 3.5rem;
}

.mt-7 {
  margin-top: 4rem;
}

/* CUSTOM PADDING */
.py-6 {
  padding: 3.5rem 0
}

/* BORDER RADIUS */
.rounded-6 {
  border-radius: .6rem!important;
}

/* COLOR */
.text-orange {
  color: orange;
}
