.a :hover {
	color: black !important;
}

a {
	pointer-events: black;
}

.form-control:focus,
.form-select:focus {
	border-color: #27ae60;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px #27ae60;
}

#myTab .nav-link.active {
	border-bottom: 2px solid #27ae60 !important;
	color: green;
}
#myTab_metode .nav-link.active {
	border-bottom: 2px solid #27ae60 !important;
	color: green;
}

.tabs-style {
	width: 100% !important;
	border: none !important;
}

.nav-link {
	color: black;
}

#myTab .nav-link:focus,
#myTab .nav-link :hover {
	color: green !important;
}

#myTab_metode .nav-link:focus,
#myTab_metode .nav-link :hover {
	color: green !important;
}